@mixin mobile {
  @media only screen and (max-width: 739px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

.title {
  margin: 0;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 10px;
  @include mobile {
    font-size: 24px;
  }
}

.item {
  display: flex;
  align-items: center;
  gap: 15px;

  .index {
    font-size: 42px;
    font-weight: 700;
    width: 30px;
    color: #666;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    @include mobile {
      font-size: 32px;
    }
  }

  .content {
    @include mobile {
      font-size: 14px;
    }
  }
}

.divider {
  height: 5px;
  width: 100%;
  background: #4C1D95;
  margin-top: 10px;
}

.number {
  display: flex;
  @include mobile {
    flex-wrap: wrap;
  justify-content: center;
  }
  

  .itemStats {
    padding: 10px;
    h1,
    p {
      margin: 0;
      text-align: center;
    }

    h1 {
      font-size: 32px;
      @include mobile {
        font-size: 24px;
      }
    }

    p {
      font-size: 16px;
      line-height: 18px;
      @include mobile {
        font-size: 14px;
      }
    }
  }
}
