@mixin mobile {
  @media only screen and (max-width: 739px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (max-width: 1400px) {
    @content;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  margin: 80px auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  border: 5px solid #4c1d95;
  padding: 20px;
  border-radius: 20px;
  background: #f1f5f9;
  z-index: 1;
  position: relative;

  @include mobile {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  @include tablet {
    grid-template-columns: 1fr;
    padding: 10px;
  }
}

.skeleton {
  width: clamp(300px, 70%, 1024px);
  position: relative;

  @include mobile {
    width: calc(100% - 20px);
  }
}

.rightBanner {
  position: absolute;
  right: -90px;
  top: -100px;
  @include mobile {
    display: none;
  }
}

.title {
  margin: 0;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 10px;
  @include mobile {
    font-size: 24px;
  }
}

.report_item_container {
  display: flex;
  cursor: pointer;
  justify-content: space-between;

  * {
    margin: 0;
  }

  h4 {
    font-weight: 500;
    @include mobile {
      font-size: 14px;
    }
  }

  p {
    font-weight: 400;
    font-size: 14px;
  }

  &:hover {
    color: rgb(99, 102, 241);
    background: rgb(187 187 187 / 13%);
    border: 1px solid rgba(99, 102, 241, 0.13);
  }

  border: 1px solid transparent;
  padding: 10px;
  border-radius: 8px;
}
