.container {
  padding: 24px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
  color: inherit;
}

.nav {
  display: flex;
  gap: 16px;
}
