@mixin mobile {
  @media only screen and (max-width: 739px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

.item {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  padding: 12px 8px;

  @include mobile {
    margin-left: 20px;
  }

  &.active {
    color: rgb(99, 102, 241);
  }
}
